body {
    background-color: #CCCCCC;
    margin: 10px;
    padding: 30px;
    font-family: FreeSans;
}

h1 {
    color: #000000;
    border-bottom: 1px solid #666666;
}

h2{
    margin:30px
}

dl {
    padding: 10px;
    width: 50%;
}

dt {
    font-weight: bold;
}

dd {
    border-bottom: 1px dotted #666;
    padding: 3px;
}

p {
    text-align: justify;
}

img{
    width: 600px;
    height: 50%;
}




.imagen {
    border:1px double #666666;
    padding: 20px;
    background-color: #FFFFFF;
    width: 607px;
}