body {
    background-color: #000000;
    margin: 40px;
    padding: 40px;
    font-family: FreeSans;
    color:#FFFFFF;

}

h1 {
    color: #000000;
    border-bottom: 2px solid #666666;
    background-color: #CCCCCC;
    padding: 20px;
}

h2{
    margin:30px;
    border-bottom: 2px solid #666666;
    background-color: #CCCCCC;
    padding: 30px;
}

dl {
    padding: 10px;
    width: 50%;

}

dt {
    font-weight: bold;
}

dd {
    border-bottom: 1px dotted #666;
    padding: 3px;
}

p {
    text-align: justify;
}

img{
    width: 600px;
    height: 50%;
}



.imagen {
    border:1px double #666666;
    padding: 20px;
    margin:0 auto;
    background-color: #CCCCCC;
    width: 607px;
}
